server-nodejs/node_modules
data/db
server-nodejs-grpc/files/avatars/**
server-nodejs-grpc/dist/**
server-nodejs-grpc/build/**
server-nodejs-http/files/avatars/**
server-nodejs-http/dist/**
server-nodejs-http/build/**
.DS_Store
grpc-server-go/server
